In [4]:
a = [51205,"ぞ光の怡戀よ",0,3,0,0,2,"5d2c92beb774a4bb30762538bb102d23670ae9c0.gif","26633150,419220,9434004",330]

In [6]:
len(a)

10

In [5]:
import pandas as pd

In [20]:
columns = [ str(i) for i in [1,2,3,4,5,6,7,8,9,10]]
df = pd.DataFrame([a],columns=columns)

In [19]:
df

,1,2,3,4,5,6,7,8,9,10
0,51205,ぞ光の怡戀よ,0,3,0,0,2,5d2c92beb774a4bb30762538bb102d23670ae9c0.gif,"26633150,419220,9434004",330